/* .navbar {
	background-color: #0056b3 !important;
	color: white;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.navbar-nav .nav-link {
  color: white;
  margin-left: 15px;
}

.navbar-brand img {
	height: 40px; 
	width: auto;
	padding: 5px 0;
}

.navbar-brand img {
	background-color: #fff !important;
	height: 40px;
	width: auto;
	padding: 5px;
	border-radius: 10px;
}

.form-inline .form-control {
	width: 60%; 
}

.navbar .btn-outline-primary {
	color: #fff;
	border-color: #fff;
}

.navbar-nav .nav-link {
	color: white;
	margin-left: 15px; 
}

.navbar-nav .nav-link:hover {
	color: #f8f9fa; 
}


.dropdown-menu {
	background-color: #0056b3;
	color: white;
} */

.navbar-collapse {
	justify-content: center;
}

.icons {
	font-size: larger;
	color: blue;
}
